html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 20px;
  margin: 10px 0 0;
  padding: 20px;
  color: #bd6060;
  font-family: Helvetica, sans-serif;
}

body .wrapper {
  width: 1200px;
  margin: 0 auto;
  width: 80%;
  background-color: #eb0a0a;
}

body .wrapper header {
  background-color: #333;
  height: 100px;
}

body .wrapper header .logo {
  width: 300px;
  min-height: 20px;
  background-color: #ff0404;
  color: #505050;
}

body .wrapper .content {
  background-color: #fff;
}

body .wrapper footer {
  height: 300px;
  background-color: #cfcfcf;
}

.box01 {
  margin: 0 auto;
  width: 80%;
  background-color: #eb0a0a;
}

.box2 {
  margin: 0 auto;
  width: 80%;
  background-color: #eb0a0a;
}

.box3 {
  margin: 0 auto;
  width: 80%;
  background-color: #eb0a0a;
}

.rect {
  width: 180px;
  height: 180px;
  background-color: #00ffdd;
}

.rect300 {
  width: 300px;
  height: 300px;
  background-color: #00ff2a;
}

.rect400 {
  width: 120px;
  height: 120px;
  background-color: red;
}

.btns {
  width: 300px;
  height: 300px;
  background-color: #333;
}

.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_wide {
  text-align: center;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: #f20;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
}

.btn_wide:hover {
  background-color: #330700;
}

.btn_big {
  text-align: center;
  width: 500px;
  height: 50px;
  line-height: 50px;
  background-color: #00a2ff;
  color: #1a1a1a;
  cursor: pointer;
  border: 2px solid #333;
}

.btn_big:hover {
  background-color: #002033;
}

.box-green {
  background-color: green;
}

.yellow, .box-yellow {
  background-color: yellow;
}

.box-green {
  width: 400px;
  height: 300px;
}

.box-yellow {
  width: 400px;
  height: 300px;
}

.width {
  width: 200rem;
  height: 10px;
  font-size: 100px;
  margin: 10px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 86px;
}

h3 {
  font-size: 68px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 28px;
}

.box_area {
  margin-top: 25px;
}

.section_01 {
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.section_01 h2 {
  color: #00ff2a;
}

.section_02 {
  width: 100vw;
  height: 100vh;
  background-color: #fc0000;
}

.section_02 h2 {
  color: #00b7ff;
}
/*# sourceMappingURL=style.css.map */