html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (min-width: 1024px) {
  body {
    font-size: 13px;
  }
}

@media all and (min-width: 950px) {
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 768px) {
  body {
    font-size: 40px;
  }
}

body {
  font-size: 20px;
  margin: 10px 0 0;
  padding: 20px;
  color: #bd6060;
  font-family: Helvetica, sans-serif;
}

body .wrapper {
  width: 1200px;
  margin: 0 auto;
  width: 1200px;
  background-color: #d4ff00;
}

body .wrapper header {
  background-color: #333;
  height: 100px;
}

body .wrapper header .logo {
  width: 300px;
  min-height: 20px;
  background-color: #ff0404;
  color: #505050;
}

body .wrapper .content {
  background-color: #fff;
}

body .wrapper footer {
  height: 300px;
  background-color: #cfcfcf;
}

.box01 {
  margin: 0 auto;
  width: 1200px;
  background-color: #d4ff00;
}

.box2 {
  margin: 0 auto;
  width: 1200px;
  background-color: #d4ff00;
}

.box3 {
  margin: 0 auto;
  width: 1200px;
  background-color: #d4ff00;
}

.rect {
  width: 180px;
  height: 180px;
  background-color: #00ffdd;
}

.rect300 {
  width: 300px;
  height: 300px;
  background-color: #00ff2a;
}

.rect400 {
  width: 120px;
  height: 120px;
  background-color: red;
}

.btns {
  width: 300px;
  height: 300px;
  background-color: #333;
}

.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_wide {
  text-align: center;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: #f20;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
}

.btn_wide:hover {
  background-color: #330700;
}

.btn_big {
  text-align: center;
  width: 500px;
  height: 50px;
  line-height: 50px;
  background-color: #00a2ff;
  color: #1a1a1a;
  cursor: pointer;
  border: 2px solid #333;
}

.btn_big:hover {
  background-color: #002033;
}

.box-green {
  background-color: green;
}

.yellow, .box-yellow {
  background-color: yellow;
}

.box-green {
  width: 400px;
  height: 300px;
}

.box-yellow {
  width: 400px;
  height: 300px;
}

.width {
  width: 200rem;
  height: 10px;
  font-size: 100px;
  margin: 10px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 86px;
}

h3 {
  font-size: 68px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 28px;
}

.box_area {
  margin-top: 25px;
}

.section_01 {
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.section_01 h2 {
  color: #00ff2a;
}

.section_02 {
  width: 100vw;
  height: 100vh;
  background-color: #fc0000;
}

.section_02 h2 {
  color: #00b7ff;
}

.for_1 {
  margin-top: 1px;
}

.for_2 {
  margin-top: 2px;
}

.for_3 {
  margin-top: 3px;
}

.for_4 {
  margin-top: 4px;
}

.for_5 {
  margin-top: 5px;
}

.for_6 {
  margin-top: 6px;
}

.for_7 {
  margin-top: 7px;
}

.for_8 {
  margin-top: 8px;
}

.for_9 {
  margin-top: 9px;
}

.for_10 {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

.wraaper .aa {
  font-size: 10px;
  margin: 10px;
}

.section .aa {
  font-size: 10px;
}

.wrapper h1 {
  font-size: 30px;
}

.aboutus h1 {
  font-size: 30px;
}

.img_a1 {
  background-image: url("img/a1.jpg");
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.img_a1:hover {
  opacity: .5;
}

.img_a2 {
  background-image: url("img/a2.jpg");
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.img_a2:hover {
  opacity: .5;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.main_page_wrapper {
  background-color: #fff;
}

.aboutus_page_wrapper {
  background-color: #333;
}

.contact_page_wrapper {
  background-color: #999;
}

.product_page_wrapper {
  background-color: #666;
}

.btn_primary {
  background-color: #ffd902;
  padding: 10px;
  width: 120px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.btn_primary:hover {
  background-color: #352d00;
}

.btn_secondary {
  background-color: #c6c6c6;
  padding: 10px;
  width: 120px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.btn_secondary:hover {
  background-color: #606060;
}

.btn_success {
  background-color: #93f97f;
  padding: 10px;
  width: 120px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.btn_success:hover {
  background-color: #21a408;
}
/*# sourceMappingURL=style.css.map */