.title {
    color: rgb(0, 102, 255);
    font-size: 80px;
}

h2 {
    width: 300px;
    border-bottom: 1px solid #000;
    padding-bottom:  5px;
    margin-bottom:  10px;
}

header {
  background-color: rgb(255, 189, 189);
  height: 300px;
}


.wrapper {
  height: 600px;
  background-color: rgb(182, 182, 182);
}

footer {
    height: 200px;
    background-color: rgb(186, 199, 252);


}