body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0; }

section {
  width: 100vw;
  height: 100vh; }

.section_01 {
  background-color: #3c3c3c; }

.box {
  width: 200px;
  height: 30px;
  background-color: #00ffc8;
  margin-top: 10px; }
