body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0; }

section {
  width: 100vw;
  height: 100vh; }

.section_01 {
  background-color: #3c3c3c; }

.box {
  width: 200px;
  height: 30px;
  background-color: #00ffc8;
  margin-top: 10px; }

.a2 {
  position: relative;
  top: 400px; }

.a4 {
  background-color: #ff0d0d; }

.section_02 {
  background-color: #b5faff; }

.section_03 {
  background-color: #ccffe0; }
  .section_03 .box {
    margin: 0 auto;
    text-align: center; }

.section_04 {
  background-color: #e7ffca; }
