@import "var";
@import "mixins";
@import "reset";
@import "desktop";
@import "medium";
@import "small";





body {
    font-size: $fontBasesize;
    margin: $marign;
    padding: 20px;
    color: $color;
    font-family: $fontfamily;


    .wrapper {
        width: 1200px;
        @include margincenter();

        header {
            background-color: #333;
            height: $height;

            .logo {
                width: 300px;
                min-height: 20px;
                background-color: rgb(255, 4, 4);
                color: rgb(80, 80, 80);
            }

        }

        .content {
            background-color: #fff;
        }

        footer {
            height: 300px;
            background-color: rgb(207, 207, 207);


        }
    }
}


.box01 {
    @include margincenter();
}

.box2 {
    @include margincenter();
}

.box3 {
    @include margincenter();

}



.rect {
    @include rect(180px, #00ffdd);
}


.rect300 {
    @include rect(300px, #00ff2a);
}

.rect400 {
    @include rect(120px, rgb(255, 0, 0))
}





@include btn(".btns", 300px, #333);



.box {
    @include boxsizing(border-box);
}


@mixin rect_01($width:400px, $height:300px) {
    width: $width;
    height: $height;
}



@include btn_module("btn_wide", 300px, 40px, #f20, #333, 1px solid #333);

@include btn_module("btn_big", 500px, 50px, #00a2ff, rgb(26, 26, 26), 2px solid #333);


%green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

@mixin green() {
    background-color: green;
}



.box-green {
    @include rect_01();
    @extend %green;
    //   @include green();

}


.box-yellow {
    @include rect_01();
    @extend .yellow;
}

.width {
    width: 100rem + 100rem;
    height: 30 - 20px;
    font-size: 10 * 10px;
    margin: (100/10) + px;

}



@include fontsize($fontBasesize);



.box_area {

    $margintop: 50px;

    @if ($margintop <=20px) {
        margin-top: $margintop
    }

    @else {
        margin-top: ($margintop/2)
    }
}


@mixin section($i, $bgc) {
    .section_#{$i} {
        width: 100vw;
        height: 100vh;
        background-color: $bgc;
        @content
    }
}

;


@include section('01', #333) {
    h2 {
        color: #00ff2a;
    }
}


@include section('02', rgb(252, 0, 0)) {
    h2 {
        color: #00b7ff;
    }
}

;

@for $i from 1 through 10 {
    .for_#{$i} {
        margin-top: $i * 1px;
    }
}


@mixin grid($num) {
    @for $i from 1 through $num {

        .col-#{$i} {
            width: ($i / $num) * 100%
        }
    }
}


@media screen and (min-width: 768px) {
    @include grid(12);
}


@mixin aa() {
    .aa {
        font-size: 10px;
        // margin: 10px 
        @content
    }
}

;


.wraaper {
    @include aa() {
        margin: 10px;
    }

    ;
}

.section {
    @include aa();
}


@mixin body ($content) {
    .#{$content} {
        @content
    }
}

;


@include body(wrapper) {
    h1 {
        font-size: 30px;
    }
}

;

@include body(aboutus) {
    h1 {
        font-size: 30px;
    }
}


@mixin eachlist($list...) {

    @each $var in $list {
        .img_#{$var} {
            background-image: url('img/#{$var}.jpg');
            width: 70px;
            height: 30px;
            cursor: pointer;
            @content;
            //@include margincenter();
        }
    }
}


@include eachlist(a1, a2) {
    &:hover {
        opacity: .5;
    }
}


$maps : (h1 : 30px,
    h2 : 26px,
    h3 : 20px,
    h4 : 18px,
    h5 : 16px);

// h1 {
//     font-size: map-get($maps, h1);
// }

// h2 {
//     font-size: map-get($maps, h2);
// }

// h3 {
//     font-size: map-get($maps, h3);
// }

@each $title,
$num in $maps {
    #{$title} {
        font-size: $num;
    }
}

$color_theme : (main_page : #fff,
    aboutus_page : #333,
    contact_page : #999,
    product_page : #666);

@each $themeName,
$color in $color_theme {

    .#{$themeName}_wrapper {
        background-color: $color;
    }
}

// $btncolor : (primary : rgb(100, 195, 255),
//     secondary : rgb(198, 198, 198),
//     success : rgb(147, 249, 127),
// );



@mixin btn_theme($btncolor) {

    @each $title,
    $bgcolor in $btncolor {
        .btn_#{$title} {
            background-color: $bgcolor;
            padding: 10px;
            width: 120px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 6px;
            text-align: center;
            color: rgb(240, 240, 240);
            cursor: pointer;
            transition: .4s all;

            &:hover {
                background-color: darken($bgcolor, 40);
            }

        }
    }
}

@include btn_theme ((primary : rgb(255, 217, 2),
        secondary : rgb(198, 198, 198),
        success : rgb(147, 249, 127),
    ))