body {
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding: 0;
}
section {
    width: 100vw;
    height: 100vh;
}


.section_01 {
    background-color: rgb(60, 60, 60)
}

.box {
    width: 200px;
    height: 30px;
    background-color: rgb(0, 255, 200);
    margin-top: 10px;
}

.a2 {
position: relative;
top: 400px;

}

.a4 {
background-color: rgb(255, 13, 13);
}


.section_02 {
    background-color: rgb(181, 250, 255)
}

.section_03 {
    background-color: rgb(204, 255, 224);
    .box {
      margin: 0 auto;
      text-align: center;
    }
    .c1 {
       position: relative;
       top: 200px; 
    }
}

.section_04 {
    background-color: rgb(231, 255, 202);
    transition: all 1s ease-in-out;
        &.on {
            background-color: rgb(240, 0, 0);
        }
}

